@import "https://fonts.googleapis.com/css?family=Abel|Open+Sans|Poiret+One|Quicksand|Raleway|Roboto|Ubuntu|Lato|Source+Code+Pro";
#load_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background-color: #272727;
  overflow: hidden; }

#spinner {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow: hidden; }

* {
  font-size: 14px;
  /*18px*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul li {
  list-style: none; }

h1, h2, h3 {
  font-weight: 100; }

h1 {
  font-size: 3rem;
  text-transform: uppercase; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

p, a {
  font-family: "Lato", sans-serif; }

.italic {
  font-style: italic; }

.center {
  margin: auto auto; }

.justify {
  text-align: justify; }

.container {
  width: 95%;
  margin: 0 auto; }
  @media (min-width: 1000px) {
    .container {
      max-width: 1000px; } }

.container-fluid {
  width: 100%; }

.wraper {
  width: 95%;
  margin: 0 auto; }
  @media (min-width: 1000px) {
    .wraper {
      max-width: 800px; } }

.col_2 {
  width: 45%; }

.col_3 {
  width: 25%; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

@media (min-width: 500px) {
  body {
    font-size: 16px; }

  * {
    font-size: 1rem; } }
#space, #exp {
  font-size: 16px;
  width: 100vw;
  height: 100vh; }

#space {
  background-image: url("img/black.jpg");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

#exp {
  position: fixed;
  margin: 0; }

#info {
  display: inline-block;
  position: fixed;
  color: white;
  margin-left: -33%;
  font-size: 3.5em;
  font-family: "Source Code Pro", monospace;
  background: url("img/black.jpg") 650px 550px;
  background-size: 350%;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0.8;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.box {
  display: flex;
  justify-content: center;
  align-items: center; }
  .box div {
    cursor: pointer; }

.circle {
  width: 500px;
  height: 500px;
  background: url("img/black.jpg") right bottom;
  background-size: 300%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

#one {
  animation: 60s circle-rev linear infinite; }

#two {
  width: 400px;
  height: 400px;
  animation: 50s circle-rev linear infinite; }

#three {
  width: 300px;
  height: 300px;
  animation: 60s circle-rev linear infinite; }

#four {
  width: 200px;
  height: 200px;
  animation: 50s circle-rev linear infinite; }

#five {
  width: 100px;
  height: 100px;
  animation: 50s circle-rev linear infinite; }

@keyframes circle {
  from {
    transform: rotoate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes circle-rev {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
.planet {
  width: 45px;
  height: auto;
  position: absolute;
  margin-top: -100px;
  margin-left: -55px; }

.planet2 {
  margin-top: -100px;
  margin-left: -20px; }

.planet3 {
  margin-top: 20px;
  margin-left: -30px; }

#expp .expl {
  visibility: 0;
  display: none; }
#expp h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2.1rem; }
#expp p {
  font-family: "Lato", sans-serif;
  max-width: 250px;
  font-weight: 200;
  text-align: justify; }
#expp .visible {
  display: block;
  color: white;
  position: fixed;
  margin: -100px 0 0 100px; }

#main {
  background: url("img/one.jpg") center bottom;
  background-size: 300%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; }
  #main h1 {
    font-family: "Raleway", sans-serif;
    font-size: 5em;
    font-family: "Source Code Pro", monospace;
    background: url("img/one.jpg") bottom center;
    background-size: 350%;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 0.8;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  #main #triangle {
    margin: 2rem auto 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 25px 0 25px;
    border-color: #ababab transparent transparent transparent;
    transition: all ease-in-out 2s; }

#menu {
  display: flex;
  justify-content: space-around; }
  #menu a, #menu li {
    display: inline-block; }
  #menu a {
    margin: 1rem; }
  #menu p {
    visibility: hidden; }
  #menu .visible {
    visibility: visible;
    transition: visibility 400ms ease-in-out; }

@media (min-width: 500px) {
  #main {
    background: url("img/one.jpg") center bottom;
    background-size: 200% auto; } }
@media (min-width: 700px) {
  #main {
    background: url("img/one.jpg") center bottom;
    background-size: 150% auto; } }
@media (min-width: 1000px) {
  #main {
    background: url("img/one.jpg") center bottom;
    background-size: 100% auto; } }
#panel_bg {
  background: url("img/sky.jpg") center;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden; }

#panel {
  width: 90%;
  height: 80vh;
  margin: 2em auto; }
  #panel header {
    margin-bottom: 2em; }
    #panel header h2 {
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      color: #bfbfbf;
      padding: 1em 1em;
      font-size: 2.7em; }
  #panel #slider_wraper {
    width: 100%;
    height: 100%;
    justify-content: space-around; }
  #panel #slider {
    margin: auto; }
    #panel #slider a {
      pointer-events: auto; }
    #panel #slider .item {
      width: 250px;
      height: 250px;
      margin: 0 1rem;
      overflow: hidden;
      pointer-events: auto; }
    #panel #slider img {
      max-width: 500px;
      height: auto;
      pointer-events: auto;
      transition: all 2s;
      filter: grayscale(1);
      -webkit-filter: grayscale(1); }
    #panel #slider .description {
      display: none; }
    #panel #slider a:hover img {
      max-width: 450px;
      height: auto;
      pointer-events: auto;
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }

.preview, #close, .description, #preview img {
  display: none;
  width: 0px;
  height: 0px; }

.visible-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: black;
  background: url("img/sky.jpg") center;
  background-size: 100%; }
  .visible-preview .visible-description {
    display: block;
    color: white;
    font-family: "Lato", sans-serif;
    margin: 0 2em;
    transition: all 2s;
    transition-delay: 2s; }
  .visible-preview .visible-img {
    width: 50vw;
    height: auto; }

.close {
  display: none;
  width: 0px;
  height: 0px; }

.visible-close {
  display: inline;
  position: fixed;
  z-index: 101;
  float: right;
  font-size: 3em;
  padding: 1em;
  color: white;
  align-self: flex-start;
  margin-left: 100%;
  left: -3em; }

/*# sourceMappingURL=style.css.map */
