#panel_bg{
  background: url('img/sky.jpg') center;
  background-size:100%;
  width:100%;
  height:100vh;
  display:flex;
  overflow: hidden;
}

#panel{
  width:90%;
  height:80vh;
  margin:2em auto;

  header{
    margin-bottom:2em;
    h2{
      font-family:$Raleway;
      font-weight: 800;
      color: #bfbfbf;
    //  color:white;
      padding:1em 1em;
      font-size:2.7em;
    }
  }

  #slider_wraper{
    width:100%;
    height:100%;
    justify-content:space-around;

  }
  #slider{
    margin:auto;
    a{pointer-events:auto;}
    .item{
      width:250px;
      height:250px;
      //background-color:red;
      margin:0 1rem;
      overflow:hidden;
      pointer-events:auto;
      }
      img{
        max-width:500px;
        height:auto;
        pointer-events:auto;
        transition: all 2s;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }
      .description{
        display:none;
      }

    a:hover{
      img{
        max-width:450px;
        height:auto;
        pointer-events:auto;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
      }
    }
  }
}
.preview, #close, .description, #preview img {
  display:none;
  width:0px;
  height:0px;


}
.visible-preview{
  display:flex;
  flex-direction:row;
  align-items:center;
  width:100%;
  height:100vh;
  position:fixed;
  z-index:100;
  background-color:black;
  background: url('img/sky.jpg') center;
  background-size:100%;

  .visible-description{
    display:block;
    color:white;
    font-family:$Lato;
    margin:0 2em;
    transition: all 2s;
    transition-delay:2s;

  }
  .visible-img{
    width:50vw;
    height:auto;
  }
}
.close{
  display:none;
  width:0px;
  height:0px;
}
.visible-close{
  display: inline;
  position:fixed;
  z-index:101;
  float:right;
  font-size:3em;
  padding:1em;
  color:white;
  align-self: flex-start;
  margin-left:100%;
  left:-3em;

}
